body{
    font-family: serif;
    margin:0;
}
.container{
    background-image: url(land.png);
    min-height: 600px;
    background-size: cover;
}
.top-nav{
    overflow: hidden;
    background-color: transparent;
    font-weight: bold;
}
.top-nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
}
.top-nav a:hover {
    background-color: rgba(11, 88, 11, 0.838);
    color: white;
}
.top-nav a[href="feedback.html"]{
    float: right;
    background-color: rgba(11, 88, 11, 0.838);
}
.tablink {
    background-color: rgba(11, 88, 11, 0.838);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 33.33%;
    color:black;
    font-family: serif;
    font-weight: bold;
}
.tablink:hover {
    background-color: rgb(11,88,11);
    color: black;
} 
  /* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 50%;
}
div[id="Home"]{
    display: block;
}
#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
.container1{
    padding: 30px;
    margin:10px;
    display: grid;
    align-items:auto; 
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.container1 p{
    padding: 30px;
    margin: 20px;
    font-size: 20px;
}
.container1 img{
    margin: 20px;
    padding: 20px;
    height: 80%;
    width: 100%;
}
.button {
    border-radius: 4px;
    background-color:rgba(11, 88, 11, 0.838);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 50px;
    float: right;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
} 
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
} 
.button:hover span {
    padding-right: 25px;
} 
.button:hover span:after {
    opacity: 1;
    right: 0;
}
footer{
    padding: 10px;
    color:white;
}
